<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">RouteApp</a>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
      <ul class="nav navbar-nav ml-auto ml-2 ml-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./about']" routerLinkActive="active">About</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./employee', testNumber]" routerLinkActive="active">Employee</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./search']" routerLinkActive="active">Search</a>
        </li> 
      </ul>
    </div>
  </nav>