<h3>Press the below button to move to component which has required params</h3>
<input class="btn btn-primary" type="button" value="RedirectToRoute" (click)="RedirectRoute()" />

<h3>Press the below button to move to component which has optional params</h3>
<input class="btn btn-primary" type="button" value="RedirectToRouteWithOptionalParams" (click)="RedirectRoute2()" />

<h3>With query params</h3>
<input class="btn btn-primary" type="button" value="RedirectToRouteWithOptionalParams" (click)="RedirectRoute3()" />